
config ENABLE_TOUCH_DRIVER
    depends on !ENABLE_PLATFORM_LVGL
    bool "enable touch driver"
    default n

if (ENABLE_TOUCH_DRIVER)
    config ENABLE_TOUCH_I2C
        bool
        default n
        
    choice 
        prompt "configure touch type"
        default ENABLE_TOUCH_CST816X

        config ENABLE_TOUCH_GT911
            bool "gt911"
            depends on ENABLE_I2C
            select ENABLE_TOUCH_I2C

        config ENABLE_TOUCH_GT1151
            bool "gt1151"
            depends on ENABLE_I2C
            select ENABLE_TOUCH_I2C

        config ENABLE_TOUCH_CST816X
            bool "cst816x"
            depends on ENABLE_I2C
            select ENABLE_TOUCH_I2C
    endchoice

    if (ENABLE_TOUCH_I2C)
        menu "configure touch"
            config TOUCH_I2C_PORT
                int "i2c port"
                range 0 5
                default 0

            config TOUCH_I2C_SCL
                int "i2c scl pin"
                range 0 63
                default 12

            config TOUCH_I2C_SDA
                int "i2c sda pin"
                range 0 63
                default 13
            
            config TOUCH_INT_PIN
                int "touch int pin"
                range -1 63
                default -1
        endmenu
    endif
endif