CONFIG_ENABLE_LIBLVGL=y
CONFIG_ENABLE_LVGL_DEMO=y
CONFIG_LV_DISP_HOR_RES=240
CONFIG_LV_DISP_VER_RES=240
CONFIG_LVGL_COLOR_DEPTH=16
CONFIG_LVGL_COLOR_16_SWAP=y
#
# configure device driver
#
CONFIG_ENABLE_DISPLAY_DRIVER=y
CONFIG_ENABLE_DISPLAY_SPI=y
# CONFIG_ENABLE_DISPLAY_SPI_ST7789 is not set
CONFIG_ENABLE_DISPLAY_SPI_GC9A01=y
# CONFIG_ENABLE_DISPLAY_SPI_ILI9341 is not set

#
# configure tft lcd driver
#
CONFIG_DISPLAY_SPI_PORT=0
CONFIG_DISPLAY_SPI_CLK=48000000
CONFIG_DISPLAY_SPI_CS_PIN=40
CONFIG_DISPLAY_SPI_DC_PIN=15
CONFIG_DISPLAY_SPI_RST_PIN=17
CONFIG_DISPLAY_SPI_BL_PIN=32
CONFIG_DISPLAY_SPI_BL_PIN_POLARITY_HIGH=y
# end of configure tft lcd driver