CONFIG_BOARD_CHOICE_T5AI=y
CONFIG_PBUF_LINK_ENCAPSULATION_HLEN=96
CONFIG_LWIP_EAPOL_SUPPORT=0
CONFIG_LWIP_TX_PBUF_ZERO_COPY=0
CONFIG_CONFIG_TUYA_SOCK_SHIM=0
CONFIG_LWIP_DHCPC_STATIC_IPADDR_ENABLE=1
CONFIG_ETHARP_SUPPORT_STATIC_ENTRIES=1
CONFIG_LWIP_NETIF_STATUS_CALLBACK=1
CONFIG_LWIP_TIMEVAL_PRIVATE=0
CONFIG_IN_ADDR_T_DEFINED=y
CONFIG_ENABLE_LIBLVGL=y
CONFIG_LVGL_ENABLE_TOUCH=y
CONFIG_ENABLE_LVGL_DEMO=y
CONFIG_ENABLE_DISPLAY_LCD_RGB=y
CONFIG_ENABLE_TOUCH_DRIVER=y
CONFIG_ENABLE_TOUCH_GT1151=y
CONFIG_TOUCH_I2C_SCL=13
CONFIG_TOUCH_I2C_SDA=15
