__pycache__
.vscode
.tags

CMakeCache.txt
/CMakeFiles

/tmp
/.cache
/cache
/output
/build
tuyadb/
/platform/*/
__pycache__
.build
*.using_config

/arduino-tuyaopen
/examples
/tools/tyutool/*tyutool_*
/tools/tyutool/cache/
/.set_example
