
CONFIG_ENABLE_AUDIO_SERVICE=y
CONFIG_ENABLE_VOICE_PROTOCOL_CONFIG=y
CONFIG_ENABLE_VOICE_PROTOCOL_STREAM_GW=y
CONFIG_ENABLE_VOICE_STREAM_GW_MID_PROTOBUF=y
CONFIG_ENABLE_VOICE_STREAM_GW_MID_WEBSOCKET_CLIENT=y
CONFIG_ENABLE_VOICE_TTS_STREAM=y
CONFIG_VOICE_PROTOCOL_STREAM_GW_KEEP_ALIVE_TIME=15
CONFIG_VOICE_PROTOCOL_STREAM_GW_HANDSHAKE_CONN_TIMEOUT=10
CONFIG_VOICE_PROTOCOL_STREAM_GW_HANDSHAKE_RECV_TIMEOUT=2000
CONFIG_VOICE_PROTOCOL_STREAM_GW_RECONNECT_WAIT_TIME=2000
CONFIG_ENABLE_AI_SPEAKER=1
CONFIG_ENABLE_SPEAKER_UPLOAD_SERVICE_CONFIG=y
CONFIG_ENABLE_SPEAKER_UPLOAD_SERVICE_OPUS_ENCODE=y
CONFIG_ENABLE_SPEAKER_UPLOAD_SERVICE_SPEEX_ENCODE=y
CONFIG_ENABLE_SPEAKER_UPLOAD_SERVICE_WAV_PCM_ENCODE=y
CONFIG_ENABLE_BUILD_SPEEX=y
CONFIG_ENABLE_LIB_PROTOBUF_C=y