config ENABLE_AUDIO_SERVICE
    bool "configure tuya audio service"
    select ENABLE_LIB_PROTOBUF_C
    select ENABLE_VOICE_PROTOCOL_CONFIG
    select ENABLE_SPEAKER_UPLOAD_SERVICE_CONFIG
    select ENABLE_BUILD_SPEEX
    default n

if (ENABLE_AUDIO_SERVICE)
    rsource "tuya_voice_protocol/Kconfig"
    rsource "speaker_upload/Kconfig"
    rsource "speex/Kconfig"
endif
