if(ENABLE_CHAT_DISPLAY) 
choice 
    prompt "choose display gui"
    default ENABLE_GUI_WECHAT

    config ENABLE_GUI_WECHAT
        bool "WeChat-like chat interface"

    config ENABLE_GUI_CHATBOT
        bool "Chatbot interface"
endchoice

endif