if(ENABLE_CHAT_DISPLAY) 
choice 
    prompt "choose display gui"
    default ENABLE_GUI_WECHAT

    config ENABLE_GUI_WECHAT
        bool "WeChat-like chat interface"

    config ENABLE_GUI_CHATBOT
        bool "Chatbot interface"
endchoice

config ENABLE_GUI_STREAM_AI_TEXT
    bool "support streaming display of ai text"
    default n  
     
endif