config CHIP_CHOICE
    string
    default "esp32s3"

config BOARD_CHOICE
    string
    default "Waveshare-ESP32-S3-Touch-AMOLED-1.8"

config AUDIO_DRIVER_NAME
    string "the name of the audio driver"
    default "audio_driver"
