# Ktuyaconf
config PLATFORM_CHOICE
    string
    default "Ubuntu"

config OPERATING_SYSTEM
    int 
    default 100
    ---help---
        100     /* LINUX */
        98      /* RTOS */
        3       /* Non-OS */

rsource "./TKL_Kconfig"
rsource "./OS_SERVICE_Kconfig"