# Ktuyaconf
config PLATFORM_CHOICE
    string
    default "LN882H"

config PLATFORM_LN882H
    bool
    default y

choice
    prompt "Choice a module"

    config MODULE_CHOICE_WL2H_U
        bool "WL2H-U"
    if (MODULE_CHOICE_WL2H_U)
    rsource "./WL2H-U/Kconfig"
    endif

endchoice
