menu "configure app (your_chat_bot) "

config ENABLE_CHAT_BOT
    bool
    default y
    select ENABLE_AUDIO_SERVICE
    select ENABLE_VOICE_PROTOCOL_STREAM_GW
    select ENABLE_VOICE_STREAM_GW_MID_PROTOBUF
    select ENABLE_VOICE_STREAM_GW_MID_WEBSOCKET_CLIENT
    select ENABLE_SPEAKER_UPLOAD_SERVICE_OPUS_ENCODE
    select ENABLE_SPEAKER_UPLOAD_SERVICE_SPEEX_ENCODE


config SPEAKER_EN_PIN
    int "the pin for enabling the voice module"
    range 0 64
    default 28

config CHAT_BUTTON_PIN
    int "the pin of the dialogue button"
    range 0 64
    default 12

config CHAT_INDICATE_LED_PIN
    int "the pin of the led, indicate whether it is in the process of a dialogue."
    range 0 64
    default 1

config ENABLE_CHAT_DISPLAY
    bool "enable the display module"
    default n
    select ENABLE_LIBLVGL

    if (ENABLE_CHAT_DISPLAY)
        rsource "./src/display/Kconfig"
    endif
endmenu