config ENABLE_DISPLAY_DRIVER
    bool "enable display driver"
    default n

if (ENABLE_DISPLAY_DRIVER)
    config ENABLE_DISPLAY_SPI
        bool "enable spi tft-lcd driver"
        depends on ENABLE_SPI
        default y

    if (ENABLE_DISPLAY_SPI)
        choice 
            prompt "configure tft lcd driver type"
            default ENABLE_DISPLAY_SPI_ST7789

            config ENABLE_DISPLAY_SPI_ST7789
                bool "st7789"

            config ENABLE_DISPLAY_SPI_GC9A01
                bool "gc9a01"

            config ENABLE_DISPLAY_SPI_ILI9341
                bool "ili9341"
        endchoice

        menu "configure tft lcd driver"
            config DISPLAY_SPI_PORT
                int "tft lcd spi port"
                range 0 5
                default 0

            config DISPLAY_SPI_CLK
                int "tft lcd spi spi freq"
                default 48000000
                
            config DISPLAY_SPI_CS_PIN
                int "tft lcd cs pin"
                range 0 64
                default 40

            config DISPLAY_SPI_DC_PIN
                int "tft lcd dc pin"
                range 0 64
                default 15

            config DISPLAY_SPI_RST_PIN
                int "tft lcd rst pin"
                range 0 64
                default 17

            config DISPLAY_SPI_BL_PIN
                int "tft lcd bl pin"
                range 0 64
                default 32
            
            config DISPLAY_SPI_BL_PIN_POLARITY_HIGH
                bool "tft lcd backlight high active "
                default y
            
            config DISPLAY_SPI_BL_PWM
                bool "enable tft lcd backlight pwm"
                default y

            if (DISPLAY_SPI_BL_PWM)
                config DISPLAY_SPI_BL_PWM_ID
                    int "tft lcd backlight pwm id"
                    range 0 4
                    default 0

                config DISPLAY_SPI_BL_PWM_FREQ
                    int "tft lcd backlight pwm freq"
                    range 1000 100000
                    default 10000
            endif
        endmenu

    endif

endif