/* docs/zh/_static/css/custom.css */

.wy-nav-content {
    max-width: none;  /* 取消内容区域最大宽度限制 */
}

.wy-nav-content-wrap {
    background: #fcfcfc;  /* 设置内容区域背景颜色 */
}

/* 修改标题栏背景色为白色 */
.wy-side-nav-search, .wy-nav-top {
    background-color: rgb(245, 245, 245) !important;
}