CONFIG_ENABLE_CHAT_MODE_ASR_WAKEUP_SINGEL=y
CONFIG_SPEAKER_EN_PIN=7
CONFIG_CHAT_BUTTON_PIN=17
CONFIG_CHAT_INDICATE_LED_PIN=18
CONFIG_ENABLE_CHAT_DISPLAY=y
CONFIG_ENABLE_GUI_CHATBOT=y
CONFIG_BOARD_CHOICE_T5AI=y
CONFIG_PBUF_LINK_ENCAPSULATION_HLEN=96
CONFIG_LWIP_EAPOL_SUPPORT=0
CONFIG_LWIP_TX_PBUF_ZERO_COPY=0
CONFIG_CONFIG_TUYA_SOCK_SHIM=0
CONFIG_LWIP_DHCPC_STATIC_IPADDR_ENABLE=1
CONFIG_ETHARP_SUPPORT_STATIC_ENTRIES=1
CONFIG_LWIP_NETIF_STATUS_CALLBACK=1
CONFIG_LWIP_TIMEVAL_PRIVATE=0
CONFIG_IN_ADDR_T_DEFINED=y
CONFIG_ENABLE_LIBLVGL=y
CONFIG_LVGL_COLOR_16_SWAP=y
CONFIG_DISPLAY_LCD_WIDTH=240
CONFIG_DISPLAY_LCD_HEIGHT=240
CONFIG_ENABLE_LCD_SPI_GC9A01=y
CONFIG_LCD_SPI_CS_PIN=24
CONFIG_LCD_SPI_DC_PIN=23
CONFIG_LCD_SPI_RST_PIN=28
