CONFIG_SPEAKER_EN_PIN=19
CONFIG_CHAT_BUTTON_PIN=4
CONFIG_CHAT_INDICATE_LED_PIN=8
CONFIG_ENABLE_CHAT_DISPLAY=y
CONFIG_BOARD_CHOICE_T5AI=y
CONFIG_BOARD_CHOICE_TUYA_T5AI_EVB=y
CONFIG_MEM_SIZE=51200
CONFIG_MEMP_NUM_UDP_PCB=10
CONFIG_MEMP_NUM_TCP_SEG=80
CONFIG_PBUF_LINK_ENCAPSULATION_HLEN=96
CONFIG_TCP_SND_BUF=32768
CONFIG_TCP_SND_QUEUELEN=44
CONFIG_MEMP_NUM_NETBUF=32
CONFIG_DEFAULT_UDP_RECVMBOX_SIZE=24
CONFIG_MEMP_NUM_SYS_TIMEOUT=12
CONFIG_LWIP_EAPOL_SUPPORT=0
CONFIG_LWIP_TX_PBUF_ZERO_COPY=0
CONFIG_CONFIG_TUYA_SOCK_SHIM=0
CONFIG_LWIP_DHCPC_STATIC_IPADDR_ENABLE=1
CONFIG_ETHARP_SUPPORT_STATIC_ENTRIES=1
CONFIG_LWIP_NETIF_STATUS_CALLBACK=1
CONFIG_LWIP_TIMEVAL_PRIVATE=0
CONFIG_IN_ADDR_T_DEFINED=y
CONFIG_ENABLE_LIBLVGL=y
CONFIG_LVGL_COLOR_16_SWAP=y
CONFIG_DISPLAY_LCD_WIDTH=240
CONFIG_DISPLAY_LCD_HEIGHT=240
CONFIG_ENABLE_LCD_POWER_CTRL=y
CONFIG_DISPLAY_LCD_BL_PIN=5
CONFIG_LCD_SPI_CS_PIN=15
CONFIG_LCD_SPI_DC_PIN=17
CONFIG_LCD_SPI_RST_PIN=6
