CONFIG_ENABLE_WIFI=y
# CONFIG_ENABLE_WIRED is not set
CONFIG_ENABLE_BLUETOOTH=y
CONFIG_ENABLE_ADC=y
CONFIG_ENABLE_PWM=y
CONFIG_ENABLE_I2C=y
CONFIG_ENABLE_SPI=y
CONFIG_ENABLE_TIMER=y
CONFIG_ENABLE_WATCHDOG=y
CONFIG_ENABLE_HCI=y
CONFIG_ENABLE_RTC=y
CONFIG_BOARD_CHOICE_T5AI=y
CONFIG_ENABLE_DISPLAY=y
CONFIG_ENABLE_PM=y
CONFIG_ENABLE_WAKEUP=y
CONFIG_ENABLE_PINMUX=y
CONFIG_MODULE_CHOICE_T5_E1_IPEX=y
CONFIG_TUYA_SECURITY_LEVEL=1
CONFIG_ENABLE_BT_SERVICE=y
CONFIG_ENABLE_AUDIO_SERVICE=y
CONFIG_ENABLE_LIBLWIP=y
CONFIG_PBUF_LINK_ENCAPSULATION_HLEN=96
CONFIG_LWIP_EAPOL_SUPPORT=0
CONFIG_LWIP_TX_PBUF_ZERO_COPY=0
CONFIG_CONFIG_TUYA_SOCK_SHIM=0
CONFIG_LWIP_DHCPC_STATIC_IPADDR_ENABLE=1
CONFIG_ETHARP_SUPPORT_STATIC_ENTRIES=1
CONFIG_LWIP_NETIF_STATUS_CALLBACK=1
CONFIG_LWIP_TIMEVAL_PRIVATE=0
CONFIG_IN_ADDR_T_DEFINED=y
CONFIG_ENABLE_LWIP_DHCP=y
CONFIG_ENABLE_LIBLVGL=y
CONFIG_ENABLE_DISPLAY_LCD_RGB=y
