CONFIG_PROJECT_VERSION="1.0.1"
CONFIG_TUYA_PRODUCT_KEY="uyidyzglm2m1bpcl"
CONFIG_ENABLE_WAKEUP_KEYWORD_NIHAO_XIAOZHI=y
CONFIG_ENABLE_CHAT_DISPLAY=y
CONFIG_ENABLE_GUI_OLED=y
CONFIG_OLED_SSD1306_128X64=y
CONFIG_BOARD_CHOICE_ESP32=y
CONFIG_BOARD_CHOICE_XINGZHI_CUBE_0_96_OLED_WIFI=y
CONFIG_ENABLE_LIBLVGL=y