menuconfig ENABLE_SPEAKER_UPLOAD_SERVICE_CONFIG
    bool "speaker upload service configuration"
    default y

    if (ENABLE_SPEAKER_UPLOAD_SERVICE_CONFIG)
        config ENABLE_SPEAKER_UPLOAD_SERVICE_OPUS_ENCODE
        bool "enable opus media format encode. depend opus opensource package"
        default y
        ### depend see opus -> ENABLE_BUILD_OPUS ###

        config ENABLE_SPEAKER_UPLOAD_SERVICE_SPEEX_ENCODE
        bool "enable speex media format encode. depend speex opensource package"
        default y
        ### depend see speex -> ENABLE_BUILD_SPEEX ###

        config ENABLE_SPEAKER_UPLOAD_SERVICE_WAV_PCM_ENCODE
        bool "enable wav/pcm media format encode"
        default y
    endif # ENABLE_SPEAKER_UPLOAD_SERVICE_CONFIG

