# Ktuyaconf
menu "configure tuyaopen"
    rsource "tuya_cloud_service/Kconfig"
    rsource "tuya_ai_basic/Kconfig"
    rsource "liblwip/Kconfig"
    rsource "libtls/Kconfig"
    rsource "tal_system/Kconfig"
    rsource "liblvgl/Kconfig"
    rsource "peripherals/Kconfig"
endmenu
