# Ktuyaconf
menu "configure tuyaopen"
    rsource "tuya_cloud_service/Kconfig"
    rsource "tuya_audio_service/Kconfig"
    rsource "libprotobuf-c/Kconfig"
    rsource "liblwip/Kconfig"
    rsource "libtls/Kconfig"
    rsource "tal_system/Kconfig"
    rsource "liblvgl/Kconfig"
    rsource "device_driver/Kconfig"
endmenu
