menuconfig ENABLE_VOICE_PROTOCOL_CONFIG
    bool "enable voice_protocol_conifg"
    default y
    if (ENABLE_VOICE_PROTOCOL_CONFIG)
        config ENABLE_VOICE_PROTOCOL_HTTP
            bool "enable voice http protocol"
            default n
            
        config ENABLE_VOICE_PROTOCOL_STREAM_GW
            bool "enable voice stream_gw protocol"
            default y
            if (ENABLE_VOICE_PROTOCOL_STREAM_GW)
                config ENABLE_VOICE_STREAM_GW_MID_PROTOBUF
                    bool "enable voice stream_gw mid_protobuf"
                    default y

                config ENABLE_VOICE_STREAM_GW_MID_WEBSOCKET_CLIENT
                    bool "enable voice stream_gw mid_websocket_client"
                    default y

                config ENABLE_VOICE_TTS_STREAM
                    bool "enable voice tts stream"
                    default y

                config VOICE_PROTOCOL_STREAM_GW_KEEP_ALIVE_TIME
                    int "set websocket gw keep alive time (seconds)"
                    default 15

                config VOICE_PROTOCOL_STREAM_GW_HANDSHAKE_CONN_TIMEOUT
                    int "set websocket handshake connection timesout (seconds)"
                    default 10

                config VOICE_PROTOCOL_STREAM_GW_HANDSHAKE_RECV_TIMEOUT
                    int "set websocket gw handshake recvice timeout (ms)"
                    default 2000

                config VOICE_PROTOCOL_STREAM_GW_RECONNECT_WAIT_TIME
                    int "set websocket gw reconnect wait time(ms)"
                    default 2000

            endif
        config ENABLE_AI_SPEAKER
            int "enable AI voice cloud service"
            range 0 1
            default 1

        config ENABLE_TUYA_VOICE_ASAN
            bool "enable asan Compile options"
            default n
    endif